title: "Luke Waldron"
description: "Insight Manager and Data Scientist specialising in FCA and FOS Complaints"
theme: jekyll-theme-slate

logo: /Images/9F2B252D-4D27-469D-A35A-E5D706C4B82B.jpeg
favicon: /Images/favicon.png

show_downloads: false

author: "Luke Waldron"
github_username: lukewaldron
linkedin_username: luke-waldron

markdown: kramdown

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

sass:
  style: compressed

defaults:
  - scope:
      path: ""
    values:
      layout: default

